# My First Data science notebook

## Introduction

Hi this is a Data science notebook that defines data science languages, libraries, tools and few code block examples.

## Table of content

1. Data Science languages
1. Data Science libraries
1. Data Science tools
1. Arithmetic expression examples
1. Code to multiply and add numbers
1. Code to convert minutes to hours
1. Objectives
1. Author’s name

### Data Science languages

1. Python
1. R
1. SQL
1. Scala
1. Java
1. C++
1. Julia

### Data Science libraries

1. Pandas
1. NumPy
1. SciPy
1. Matplotlib

### Data Science tools

|Programming Language|Tools|
|--|--|
|Java | Weka, Java-ML, Apache MLlib, and Deeplearning |
|Scala | Apache Spark which includes Shark, MLlib, GraphX, and Spark Streaming |
|JavaScript | TensorFlow.js and R-js |

### Arithmetic expression examples

1. Multiplication example: 
    ```
    2 * 2 = 4
    4 * 8 = 32
    ```

1. Addition example:
    ```
    2 + 2 = 4
    4 + 8 = 12
    ```

In [2]:
def multiply(num1, num2):
    return num1 * num2

def addition(num1, num2):
    return num1 + num2

num1 = 4
num2 = 8
print(f"Multiplication of {num1} * {num2} = {multiply(num1, num2)}")
print(f"Sum of {num1} + {num2} = {addition(num1, num2)}")

Multiplication of 4 * 8 = 32
Sum of 4 + 8 = 12

### Code to convert minutes to hours

In [4]:
def minTohrs(minutes):
    return (minutes / 60)

minutes = 90
print("{m} min = {h} hrs".format(m=minutes, h=minTohrs(minutes)))

90 min = 1.5 hrs

### Objectives
The objective of this notebook is to demonstrate my learnings from the module data science tools. I have demonstrated creation of markdown cells and python code blocks in this notebook. Hope you'll find my assignment good and evaluate correctly. Thank you!

### Author’s name

<i>Radhika Patil</i>